body
  {
		margin: 10px auto;
		max-width: 80em;
		font-family: sans-serif;
		color: #333333;
	}

header, nav, main, article, section, aside, footer
	{
		border-radius: 0px 0.5em 0.5em;
		border: 1px solid;
		padding: 10px;
		margin: 10px;
	}

header
  {
		background: #F1F3F4;
		border-color: #d5d5d5;
		text-align: center;
	}

nav
  {
		background: #fffbf0;
		border-color: #e7c157;
	}

section 
  {
		background: #F1F3F4;
		border-color: slateblue;
	}

main
  {
    		display: block;  /* für IE */
		background: #F1F3F4;
		border-color: #d5d5d5;
	}

article 
  {
		background: #fffbf0;
		border-color: #e7c157;
	}

aside 
  {
		background: #fffbf0;
		border-color: #e7c157;
 }

footer 
  {
		background: #e4ebf2;
		border-color: #8a9da8;
	}

A:link { color: yellow; text-decoration: none; }
A:hover {color: red; text-decoration: none ;}
/*A:visited { color : gray; text-decoration: none; }*/
/*A:active {color: red; background: #CFDFEB; text-decoration: none; }*/
