body
  {
		margin: 10px auto;
		max-width: 80em;
		font-family: sans-serif;
		color: #333333;
	}

a:link 
	{
		text-decoration: none;
	}

a:visited 
	{
		color: #808080; text-decoration: underline;
	}

a:hover 
	{
		color: #6495ED; text-decoration: none;
	}

h1 	{ 
  		font-family: 'Great Vibes', cursive;
  		font-size: 2em;		
	}

header, nav, main, article, section, aside, footer
	{
		border-radius: 0px 0.5em 0.5em;
		border: 1px solid;
		padding: 10px;
		margin: 10px;
		/*padding: auto;
		margin: auto;*/
	}

header
  {
		background: #e4ebf2;
		border-color: #d5d5d5;
		text-align: center;
	}

nav
  {
		background: #fffbf0;
		border-color: #e7c157;
	  	font-size: large;
	  	font-weight: bold;
	}

section 
  {
		background: #F1F3F4;
		border-color: slateblue;
	}

main
  {
    		display: block;  /* für IE */
		background: #e4ebf2;
		border-color: #d5d5d5;
	}

article 
  {
		background: #fffbf0;
		border-color: #e7c157;
	  	font-family: 'Lucida Calligraphy';
	}

aside 
  {
		background: #fffbf0;
		border-color: #e7c157;
 }

footer 
  {
		background: #e4ebf2;
		border-color: #d5d5d5;
	}

.einladung
{
	background-image: url("bilder/IMG_20190517_154558.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 75% 25%;
	color: #F8F8FF;
	text-align: center;
	font-size: 120%
}
